<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pres.wisdom.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="pres.wisdom.entity.Customer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="use_state" property="useState" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, birthday, sex, idcard, phone, province, city, address, email, use_state, 
    state, create_id, create_time, update_id, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pres.wisdom.entity.Customer" >
    insert into t_customer (id, name, birthday, 
      sex, idcard, phone, 
      province, city, address, 
      email, use_state, state, 
      create_id, create_time, update_id, 
      update_time, remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{sex,jdbcType=INTEGER}, #{idcard,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{useState,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, 
      #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pres.wisdom.entity.Customer" >
    insert into t_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="useState != null" >
        use_state,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="useState != null" >
        #{useState,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pres.wisdom.entity.Customer" >
    update t_customer
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="useState != null" >
        use_state = #{useState,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pres.wisdom.entity.Customer" >
    update t_customer
    set name = #{name,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      sex = #{sex,jdbcType=INTEGER},
      idcard = #{idcard,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      use_state = #{useState,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="findRows" resultType="int" parameterType="pres.wisdom.entity.CustomerPage">
		select
		count(1)
		from 
		(select c.id,c.name,c.birthday,c.sex,c.idcard,c.phone,c.province,c.city,c.address,c.email,
		c.state,c.use_state as useState,oc.realname as createOperator,c.create_time as createTime,
		ou.realname as updateOperator,c.update_time as updateTime,c.remark
		from t_customer c
		left outer join t_operator oc on c.create_id=oc.id
		left outer join t_operator ou on c.update_id=ou.id
		<where>
			<if test='!"*".equals(name)'>
				c.name like CONCAT('%',#{name},'%')  
			</if>
			<if test='!"*".equals(phone)'>
				and c.phone like CONCAT('%',#{phone},'%')  
			</if>
			<if test='!"*".equals(idcard)'>
				and c.idcard like CONCAT('%',#{idcard},'%')  
			</if>
			<if test='!"-1".equals(state.toString())'>
				and c.state=#{state}
			</if>
			<if test='!"-1".equals(useState.toString())'>
				and c.use_state=#{useState}
			</if>
		</where>) a
  </select>
    <select id="selectByIdCard" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_customer
		where idcard = #{idcard,jdbcType=VARCHAR}
  </select>
    <update id="updateStateByPrimaryKey" parameterType="java.lang.Integer">
		update t_customer
		set state = CASE state WHEN 0 THEN 1 ELSE 0 END 
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateUseStateByPrimaryKey" parameterType="java.lang.Integer">
		update t_customer
		set use_State = CASE use_State WHEN 0 THEN 1 ELSE 0 END 
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByCondition" parameterType="pres.wisdom.entity.CustomerPage"
		resultType="pres.wisdom.entity.CustomerPage">
		select c.id,c.name,c.birthday,c.sex,c.idcard,c.phone,c.province,c.city,c.address,c.email,
		c.state,c.use_state as useState,oc.realname as createOperator,c.create_time as createTime,
		ou.realname as updateOperator,c.update_time as updateTime,c.remark
		from t_customer c
		left outer join t_operator oc on c.create_id=oc.id
		left outer join t_operator ou on c.update_id=ou.id
		<where>
			<if test='!"*".equals(name)'>
				c.name like CONCAT('%',#{name},'%')  
			</if>
			<if test='!"*".equals(phone)'>
				and c.phone like CONCAT('%',#{phone},'%')  
			</if>
			<if test='!"*".equals(idcard)'>
				and c.idcard like CONCAT('%',#{idcard},'%')  
			</if>
			<if test='!"-1".equals(state.toString())'>
				and c.state=#{state}
			</if>
			<if test='!"-1".equals(useState.toString())'>
				and c.use_state=#{useState}
			</if>
		</where>
		order by c.id
   		limit 
   		#{begin,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_customer
    where use_state=1
  </select>
</mapper>